```env
NODE_ENV=development
PORT=5000

DATABASE_URL="your_database_url"

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000

REDIS_USER=default
REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port

SMTP_USER=your_email@example.com
EMAIL_SENDER=your_email@example.com
SMTP_PASSWORD=your_smtp_password

GOOGLE_CLIENT_ID=your_google_client_id

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

TESTER_ADMIN_NAME=Admin
TESTER_ADMIN_EMAIL=admin@example.com
TESTER_ADMIN_PASSWORD=your_admin_password

BKASH_TOKENIZE_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_TOKENIZE_USER_NAME=your_bkash_username
BKASH_TOKENIZE_PASSWORD=your_bkash_password
BKASH_TOKENIZE_APP_KEY=your_bkash_app_key
BKASH_TOKENIZE_APP_SECRET=your_bkash_app_secret
BKASH_CALLBACK_URL=http://localhost:5000
```
